body {
  font-family: 'Barlow', sans-serif;
  background-color: white;
  max-width: 100%;
  margin: 0;
}

main {
  margin: 0.5em;
}

header {
  display: flex;
}

header ul {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #262A2B;
  padding: 10px 20px;
  display: flex;
  list-style: none;
  margin-top: 0;
}
header nav ul {
  position: absolute;
  margin: 0;
  padding: 0;
  right: 0em;
  left: 0em;
  text-align: left;
  font-weight: bold;
  list-style: none;
  background-color: #E9EAE9;
  top:11.4em;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: all 1s ease;

}

header nav li {
  padding: .5em .5em .5em 2.5em;
  position: relative;
  /* margin: .4em; */
  color: #494C4F;
}

header nav li:hover, focus {
  background-color: #fa6160;
  color: white;
}

header nav li .active {
  background-color: #fa6160;
  color: white;
  position: relative;
}

header nav li a {
  color: #494C4F;
}

header nav li a:hover, focus {
  color: white;
}

header button {
  border: white;
  background-color: white;
}

.go {
  opacity: 1;
}

.draai {
  transition: all 1s;
  transform:rotate(-180deg) scale(0.5);
}

h1 {
  font-size: 17px;
  font-family: 'Barlow', sans-serif;
}

.roze {
  color: #fa6160;
  font-size: 1.3em;
  font-weight: bold;
}

header ul li img {
  top: 0;
  left: 0;
  right: 0;
  max-width: 18%;
}

header nav img {
  position: relative;
  top: 2.4em;
  padding: 4em 0em 5em 4em;
  width: 30%;
}

header nav img:nth-of-type(2) {
  position: absolute;
  right: 1em;
  top: 1.6em;
  width: 2.7em;
}

main div {
  display: flex;
  flex-wrap: wrap;
}

.verspringen {
  display: flex;
  flex-direction: row-reverse;
}

main div figure {
  margin: 0.5em;
  max-width: 40%;
}

main div figure img {
  width: 10em;
}

main div figure img:hover, focus {
  filter: grayscale(1);
  transition: all 1s;
  transform:rotate(-130deg) scale(2);
}

main div figcaption {
  font-weight: bold;
  font-size: 1em;
  margin: .7em 0 0 0;
}

main img {
  width: 20em;
}

main h2 {
  font-weight: bold;
  font-size: 2em;
}

main h3 {
  font-size: 1.5em;
}

footer {
  background-color: #f2f2f2;
  padding: 1em;
  padding-left: 2em;
}

footer p:first-of-type {
  font-weight: bold;
}

footer p:nth-of-type(3) {
  font-weight: bold;
  padding: 2em 0 ;
}

footer p:last-of-type {
  font-size: .8em;
  text-align: center;
}

footer img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 50%;
}

.groenebutton:hover, focus {
  background-color: grey;
}

a {
  text-decoration: none;
}

.normalelink {
  color: hotpink;
  background-color: rgba(0, 0, 0, 0);
}

.groenebutton {
  position: relative;
  left: 0;
  background-color: #61ce70;
  color: white;
  border: none;
  width: 15em;
  height: 3.5em;
  display: block;
  margin: auto;
  font-size: 1em;
  text-align: center;
  line-height: 2.5em;
  border-radius: .2em;
}

.groenebutton2 {
  /* position: relative; */
  left: 0;
  background-color: #23A455;
  color: white;
  border: none;
  width: 9em;
  height: 2.5em;
  display: block;
  margin: 1em 0 0 0;
  font-size: .9em;
  text-align: center;
  line-height: 2.5em;
  border-radius: .2em;
}



h2{
  /* font-size: 60px; */
  color: transparent;
  -webkit-text-stroke: 1px red;
  background: url(images/back.png);
  -webkit-background-clip: text;
  background-position: 0 0;
  animation: achtergrond 20s linear infinite;
}

@keyframes achtergrond{
  100%{
    background-position: 100em 0;
  }
}
